
.zoom,.zoom2{
    background-color: red;

    font-size: 32px;
    color: blue;

}
#tech{
    color: aqua;
}
h3 {
    color: red;
}
#c1, #c2 , #c3{
    color: red;
}

#c3{
    background-color: green;
}
